<template name="recordHistory">
  <ul>
    {{#each records}}
      {{> record}}
    {{/each}}
  </ul> 
</template>

<template name="record">
  <li>
    <button class="delete">&times;</button>
    <input type="text" name="projectName" class="projectName" value="{{project.projectName}}"/> 
    <span class="time-length theme-color-text">{{getTimeLength starttime endtime}}</span>
    <div class="record-info-container row">
      <div class="col-xs-6">
        <span>Start: {{ formatDate starttime}} </span>
        <br>
        <span>To: {{ formatDate endtime}}</span>
      </div>
      <div class="col-xs-6"></div>
      <div class="labels-container col-xs-12">
        {{#each labels}}
          {{> recordLabel}}
        {{/each}}
      </div>     
    </div>
  </li>
</template>


<template name="recordLabel">
  <span class="label" style="background: {{color}}">{{labelName}}</span>
</template>
