<template name="timer">
  <div class="center timer-value"> {{timerValue}} </div>
</template>

<template name="newTimer">
  <div class="new-timer center">
    <button id="record-btn" class="btn {{btnClass}}">
      {{#if startedTimer}}
        Stop 
      {{else }}
        Start 
      {{/if}} 
    </button>
    <br>
    <div class="row">
      <div class="form-group col-xs-9">
        <input type="text" name="text" class=" form-control center project-name-input-field" placeholder="What are you working on now?" />
      </div>
      <div class="form-group col-xs-3">
        <button class="form-control add-note-btn pull-right btn btn-default disabled">Add Label</button>
      </div>
    </div>       
  </div>
</template>
